{% extends "base.html" %}
{% block title %}EditPage{% endblock %}
{% block head %}
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
{% endblock %}
{% block content %}
    <h1>Edit Page</h1>
    <form method="POST">
        <div class="label">
            Page Contents
            <span class="error">
                {{content_err}}
            </span>
        </div>
        <div class = "content">
            <textarea name = "content" >{{wikipage_query.content}}</textarea>
        </div>
        <div>
            <input type="SUBMIT">
        </div>
    </form>
{% endblock %}
